<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current rabbits ({{ rabbits.length }})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Weight</th>
          <th scope="col">Color</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="rabbits.length === 0">
        <tr>
          <td colspan="4">There are no rabbits in the DB. Add a new rabbit below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let rabbit of rabbits">
          <td>{{ rabbit.name }}</td>
          <td>{{ rabbit.age }}</td>
          <td>{{ rabbit.weight }}</td>
          <td>{{ rabbit.color }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(rabbit)">
              <i class="fa fa-pencil"></i> Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteRabbit(rabbit)">
              <i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editRabbit(rabbit)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="rabbit.name" placeholder="Name" required>
              <input class="form-control mr-2" type="number" name="age" [(ngModel)]="rabbit.age" placeholder="Age" min="0" required>
              <input class="form-control mr-2" type="number" name="weight" [(ngModel)]="rabbit.weight" placeholder="Weight" step="any"
                min="0" required>
              <input class="form-control mr-2" type="text" name="color" [(ngModel)]="rabbit.color" placeholder="Color" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new rabbit</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addRabbitForm" (ngSubmit)="addRabbit()">
      <input class="form-control mr-2" type="text" name="name" formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="number" name="weight" formControlName="weight" placeholder="Weight" step="any" min="0">
      <input class="form-control mr-2" type="number" name="age" formControlName="age" placeholder="Age" min="0">
      <input class="form-control mr-2" type="text" name="color" formControlName="color" placeholder="Color">
      <button class="btn btn-primary" type="submit" [disabled]="!addRabbitForm.valid">
        <i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
